* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body {
    font-family: sans-serif;
}

/*Header*/
.mallHeader {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    transition: top 0.5s;
}

.mallHeader.visible {
    top: 0;
}

.mallHeader.invisible:not(.off) {
    top: -70px;
}

nav {
    background: #222;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/*Mobile menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    cursor: pointer;
    order: 1;
}

.item.mallName.active {
    width: auto;
    order: 1;
    display: block;
    flex: 1;
    text-align: left;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    top: -5px;
    width: 18px;
}

.bars::before,.bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top:5px;
}

.bars::after {
    top: -5px;
}

.item.item2 {
    display: none;
}

.item.item2.visible {
    display: block;
}

/*Tablet menu*/
@media all and (min-width: 768px){
    .menu {
        justify-content: center;
    }

    .item.mallName {
        width: auto;
        order: 1;
        display: block;
        flex: 1;
        text-align: left;
    }

    .item.mallName.active {
        display: block;
    }

    .toggle {
        order: 2;
    }
}

@media all and (min-width: 1024px){
    .mallHeader.visible, .mallHeader.invisible, .mallHeader.invisible:not(.off) {
        top: 0;
    }

    .item {
        display: block;
        width: auto;
    }

    .item.mallName.active {
        display: block;
    }

    .toggle {
        display: none;
    }

    .logo{
        order: 0;
    }

    .item.mallName {
        order: 1;
    }

    .item {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }

    .item.item2.visible {
        order: 4;
        width: 100%;
        text-align: right;
    }
}

/*end header*/

main {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}





@media only screen and (max-width: 767px) {
     /* For Mobile */
    .left-container{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .catergory h3{
        margin-top: 30px;
    }

    
    .product-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 15px 30px;
        
    }
    
    .product-list .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        background: white;
        cursor: pointer;
        align-items: center;
        margin: 15px 0;
        padding: 30px 0;
        border: 1px solid #BBBCB6;
    }

    .product-content{
        margin-top: 20px;
    }

    
    
    .product-text{
        background: white;
    }
    
    .product-title a{
        margin-top: 10px;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        color: #111;
        text-transform: capitalize;
        font-weight: bold;
    }
    
    .product-description{
        font-size: 16px;
        color: #CCCDC6;
        text-align: center;
    }

    .card img{
        width: 200px;
        height: 200px;
        display: block;
    }
    .catergory select{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
     /* For Tablet */
     .left-container{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .catergory h3{
        margin-top: 30px;
        font-size: 35px;
    }

    
    .product-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-top: 30px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .product-list .card{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        background: white;
        cursor: pointer;
        align-items: center;
        border: 1px solid #BBBCB6;
    }

    .product-content{
        margin-top: 10px;
    }

    
    .product-title a{
        margin-top: 5px;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        color: #111;
        text-transform: capitalize;
        font-weight: bold;
    }
    
    .product-description{
        font-size: 15px;
        color: #686767;
        text-align: center;
    }

    .card img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
        display: block;
    }
    .catergory select{
        width: 100%;
    }
}

@media only screen and (min-width: 1025px) {
    /* For Desktop */
    
    .left-container{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .catergory h3{
        text-align: center;
        margin-top: 30px;
        font-size: 50px;
    }

    
    .product-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 25px;
        margin-top: 25px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .product-list .card{
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        background: white;
        cursor: pointer;
        align-items: center;
        border: 1px solid #BBBCB6;
    }

    .product-content{
        margin-top: 10px;
    }

    
    .product-title a{
        margin-top: 5px;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        color: #111;
        text-transform: capitalize;
        font-weight: bold;
    }
    
    .product-description{
        font-size: 15px;
        color: #686767;
        text-align: center;
    }

    .card img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
        display: block;
    }

    .catergory select{
        width: 70%;
        height: 30px;
    }
}






