*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body {
    font-family: sans-serif;
}

/*Header*/
.mallHeader {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    transition: top 0.5s;
}

.mallHeader.visible {
    top: 0;
}

.mallHeader.invisible:not(.off) {
    top: -70px;
}

nav {
    background: #222;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/*Mobile menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    cursor: pointer;
    order: 1;
}

.item.mallName.active {
    width: auto;
    order: 1;
    display: block;
    flex: 1;
    text-align: left;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    top: -5px;
    width: 18px;
}

.bars::before,.bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top:5px;
}

.bars::after {
    top: -5px;
}

.item.item2 {
    display: none;
}

.item.item2.visible {
    display: block;
}

/*Tablet menu*/
@media all and (min-width: 768px){
    .menu {
        justify-content: center;
    }

    .item.mallName {
        width: auto;
        order: 1;
        display: block;
        flex: 1;
        text-align: left;
    }

    .item.mallName.active {
        display: block;
    }

    .toggle {
        order: 2;
    }
}

@media all and (min-width: 1024px){
    .mallHeader.visible, .mallHeader.invisible, .mallHeader.invisible:not(.off) {
        top: 0;
    }

    .item {
        display: block;
        width: auto;
    }

    .item.mallName.active {
        display: block;
    }

    .toggle {
        display: none;
    }

    .logo{
        order: 0;
    }

    .item.mallName {
        order: 1;
    }

    .item {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }

    .item.item2.visible {
        order: 4;
        width: 100%;
        text-align: right;
    }
}

/*end header*/

main {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}




@media only screen and (max-width: 767px) {
     /* For Mobile */
    .left-container{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand, .review, .price{
        display: none;
    }
    
    .product-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10px ;
    }
    
    .product-list .card{
        display: flex;
        border-bottom: 1px solid #BBBCB6;
        width: 100%;
        background: white;
        cursor: pointer;
        align-items: center;
        
    }

    .product-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
    
    .product-text{
        background: white;
    }
    
    .product-title a{
        margin-top: 10px;
        font-size: 15px;
        text-decoration: none;
        text-align: left;
        color: #111;
        text-transform: capitalize;
        display: block;
    }
    
    .product-description{
        font-size: 12px;
        color:  #CCCDC6;
        margin-top: 2px;
    }

    .product-rating{
        font-size: 10px;
        margin-top: 10px;
    }
    
    .card img{
        width: 100px;
        height: 100px;
        display: block;
    }
    

    .product-price {
        display: inline;
        color: #111;
        font-size: 15px;
        position: relative;
        margin-left: 10px;
    }
    
    .dollar{
        font-size: 12px;
        position: absolute;
        top: 0;
        left: -8px;   
    }
    
    .product-price:last-of-type{
        text-decoration: line-through;
        color: rgb(158, 158, 158);
        font-size: 12px;
        position: relative;
        top: 10%;
        right: 12%;
    }

    .catergory select{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
     /* For Tablet */
     .main-content{
        display: flex;  
    }
    .left-container{
        min-width: 30%;
        margin-left: 20px;
        margin-top: 20px;
        text-align: left;
        border-right: 1px solid black;
    }
    
    .left-container .catergory:not(:first-child){
        margin: 20px 0;
    }
    
    .review-number{
        margin-left: 5px;
        font-size: 12px;
        color: #746D69;
    }

    .star{
        font-size: 13px;
    }

    .catergory h3{
        font-size: 15px;
        font-weight: 600;
    }

    .brand label{
        font-size: 15px;
    }
    
    .product-list{
        margin: 0 20px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
    
    .product-list .card{
        border-radius: 10px;
        text-align: left;
        padding: 10px;
        box-shadow: 0px 5px 5px #b2bec3;
        width: 100%;
        background: white;
        cursor: pointer;
    }
    
    .product-text{
        background: white;
        margin-top: 2rem;
    }
    
    .product-title a{
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: left;
        color: #111;
        text-transform: uppercase;
        display: block;
    }
    
    .product-description{
        font-size: 14px;
        color: #111;
    }
    
    .card img{
        width: 150px;
        height: 150px;
        border-radius: 5px;
        display: block;
        margin: 1rem auto;
        border-radius: 50%;
    }
    
    .card .product-imgage img{
        transition: transform 0.6s ease ;
    }
    
    .card:hover .product-imgage{
        transform: scale(1.1);
        
    }
    
    .product-price {
        display: inline-block;
        color: #111;
        font-size: 1rem;
        font-size: 20px;
        position: relative;
        margin-left: 10px;
    }
    
    .dollar{
        font-size: 12px;
        position: absolute;
        top: 0;
        left: -8px;   
    }
    
    .product-price:last-of-type{
        text-decoration: line-through;
        color: rgb(158, 158, 158);
        font-size: 14px;
        margin-left: 2px;
    }

    .catergory select{
        width: 60%;
    }
}

@media only screen and (min-width: 1025px) {
    /* For Desktop */
    .main-content{
        display: flex;  
    }
    .left-container{
        min-width: 20%;
        margin-left: 2rem;
        margin-top: 5rem;
        text-align: left;
        border-right: 1px solid black;
    }
    
    .left-container .catergory:not(:first-child){
        margin: 1rem 0;
    }
    
    .review-number{
        margin-left: 10px;
        font-size: 14px;
        color: #746D69;
    }

    .brand label{
        font-size: 1.25rem;
    }
    
    .product-list{
        margin-top: 5rem;
        margin-right: 2rem;
        margin-left: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }
    
    .product-list .card{
        border-radius: 10px;
        text-align: left;
        padding: 10px;
        box-shadow: 0px 10px 5px #b2bec3;
        width: 100%;
        background: white;
        cursor: pointer;
    }
    
    .product-text{
        background: white;
        margin-top: 2rem;
    }
    
    .product-title a{
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: left;
        color: #111;
        text-transform: uppercase;
        display: block;
    }
    
    .product-description{
        font-size: 14px;
        color: #111;
    }

    .star{
        font-size: 18px;
    }
    
    .card img{
        width: 230px;
        height: 250px;
        border-radius: 5px;
        display: block;
        margin: 1rem auto;
        border-radius: 50%;
    }
    
    .card .product-imgage img{
        transition: transform 0.6s ease ;
    }
    
    .card:hover .product-imgage{
        transform: scale(1.1);
        
    }
    
    .product-price {
        display: inline-block;
        color: #111;
        font-size: 1rem;
        font-size: 20px;
        position: relative;
        margin-left: 10px;
    }
    
    .dollar{
        font-size: 12px;
        position: absolute;
        top: 0;
        left: -8px;   
    }
    
    .product-price:last-of-type{
        text-decoration: line-through;
        color: rgb(158, 158, 158);
        font-size: 14px;
        margin-left: 2px;
    }

    .catergory select{
        width: 70%;
        height: 30px;
    }
}






