*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
}

/* main {
    display: flex;
    justify-content: center;
    align-items: center;
} */



@media only screen and (max-width: 767px) {
    /* For mobile device */
    header{
        min-width: 100vw;
        min-height: 15vh;
        overflow: hidden;
        background: rgb(240, 240, 240);
    }
    
    main{
        min-width: 100vw;
        min-height: 70vh;
        background: rgb(240, 240, 240);
        overflow: scroll;
    }
    
    footer{
        min-width: 100vw;
        min-height: 15vh;
        background: rgb(243, 241, 241);
        overflow: hidden;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, auto);
        background-color: #fff;
        color: #444;
        font-weight: 400;
        font-size: .9rem;
    }

    .box {
        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
        align-items: center;
        justify-content: center;
    }

    .plan-name {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 550;
    }
    
    .plan {
        align-items: center;
        justify-content: center;
        padding-top: 0.75rem;
    }

    .price {
        display: flex;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        color: #111;
    }

    .dollar-sign {
        font-size: .5rem;
        margin-bottom: auto;
        margin-right: 0.1rem;
    }

    .monthly-fee {
        font-size: .5rem;
        align-self: flex-end;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
    }

    .row{
        display: contents;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* For tablet device */
    main {
        text-align: center;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, auto);
        background-color: #fff;
        color: #444;
        font-weight: 400;
        font-size: .9rem;
    }

    .box {
        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
        align-items: center;
        justify-content: center;
    }

    .plan-name {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 650;
    }
    
    .plan {
        align-items: center;
        justify-content: center;
        padding-top: 0.75rem;
    }

    .price {
        display: flex;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .dollar-sign {
        font-size: .5rem;
        margin-bottom: auto;
        margin-right: 0.1rem;
    }

    .monthly-fee {
        font-size: .5rem;
        align-self: flex-end;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
    }

    .box.header-basic{
        background-color: RGB(247, 202, 201);
    }

    .box.header-pro{
        background-color: green;
    }

    .box.header-premium{
        background-color: aqua;
    }

    .row{
        display: contents;
    }
}


@media only screen and (min-width: 1025px) {
    /* For desktop */
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, auto);
        background-color: #fff;
        color: #444;
        font-weight: 400;
        font-size: 1.25rem;
    }

    .box {
        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
        align-items: center;
        justify-content: center;
    }

    .plan-name {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .plan {
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }

    .price {
        display: flex;
        font-size: 2.5rem;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .dollar-sign {
        font-size: 1rem;
        margin-bottom: auto;
        margin-right: 0.2rem;
    }

    .monthly-fee {
        font-size: 1rem;
        align-self: flex-end;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
    }

    .box.header-basic{
        background-color: RGB(247, 202, 201);
    }

    .box.header-pro{
        background-color: green;
    }

    .box.header-premium{
        background-color: aqua;
    }

    .row{
        display: contents;
    }

    
}



