*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 767px) {
    /* For phone */
    header{
        min-width: 100vw;
        min-height: 5vh;
        overflow: hidden;
        background: rgb(240, 240, 240);
    }
    
    main{
        min-width: 100vw;
        min-height: 60vh;
        background: rgb(240, 240, 240);
        overflow: scroll;
    }
    
    footer{
        min-width: 100vw;
        min-height: 35vh;
        background: rgb(243, 241, 241);
        overflow: hidden;
    }
    
    
    .container{
        position: relative;
        max-height: 250px;
        max-width: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
       
    }

    img{
        position: relative;
        top: 50%;
        left: 30%;
        transform: translateX(-50%, 50%);

    }
    
    .box { 
        width: 100%;
        height: 100px;
        font-size: 16px; 
    }
    
    .description-box h3{
        font-size: 25px;
        font-weight: bold;
        margin: 10px 20px;
        color: #111;
    }
    
    .description-box p{
        font-size: 16px;
        margin: 10px 20px;
        margin-right: 25px;
        color: #111;
    }
    
    .input-field {
        position: relative;
        height: 100%;
        width: 88%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
    }
    
    .input-field input{
        margin-top: 10px;
        background:rgb(240, 240, 240);
        width: 95%;
        height: 100%;
        color: #111;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
        padding: 10px 0;
        transition: 0.1s ;
    }
    
    .input-field input:focus{
        border: 2px solid brown;
    }
    
    .content-name{
        font-size: 16px;
        font-weight: bold;
    
    }
    
    .submit {
        position: absolute;
        font-size: 16px;
        margin: 5px 20px;
        width: 84%;
        height: 30px;
        background: #d48139;
        border-radius: 7px;
    }
    
    .end-box p {
        text-decoration: none;
        font-size: 16px;
        padding: 60px 0;
        margin: 0 23px;
       
    }
 }
 
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
     /* For Tablet */
     header{
        min-width: 100vw;
        min-height: 10vh;
        overflow: hidden;
        background: rgb(240, 240, 240);
    }
    
    main{
        min-width: 100vw;
        min-height: 60vh;
        background: rgb(240, 240, 240);
        overflow: hidden;
    }
    
    footer{
        min-width: 100vw;
        min-height: 30vh;
        background: rgb(243, 241, 241);
        overflow: hidden;

    }
    
    
    .container{
        position: relative;
        max-height: 300px;
        max-width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        border: 1px solid #bfb5ac;
    }
    
    .box { 
        width: 100%;
        height: 100px;
        font-size: 1rem;
        position: relative;
        padding: 30px;
    }
    
    .description-box h3{
        margin-top: 40px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 30px;
        margin-right: 30px;
        color: #111;
    }
    
    .description-box p{
        padding-top: 10px;
        font-size: 1rem;
        margin-left: 30px;
        margin-right: 30px;
        color: #111;
    }
    
    .input-field {
        margin-right: 10px;
        position: relative;
        height: 100%;
        width: 97%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .input-field input{
        margin-top: 10px;
        background:rgb(240, 240, 240);
        width: 100%;
        height: 100%;
        color: #111;
        font-size: 15px;
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
        padding: 7px 0;
        transition: 0.1s;
    }

    
    .input-field input:focus{
        border: 2px solid brown;
    }
    
    .content-name{
        font-size: 17px;
        font-weight: bold;
    
    }
    
    .submit {
        font-size: 15px;
        margin-top: 10px;
        width: 97%;
        height: 30px;
        background: #d48139;
        border-radius: 7px;
    }
    
    .end-box p {
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 50px 30px;
    }
 }
 
 @media only screen and (min-width: 1025px) {
     /* For Desktop */
     header{
        min-width: 100vw;
        min-height: 5vh;
        overflow: hidden;
        background: rgb(240, 240, 240);
    }
    
    main{
        min-width: 100vw;
        min-height: 65vh;
        background: rgb(240, 240, 240);
        overflow: hidden;
    }
    
    footer{
        min-width: 100vw;
        min-height: 30vh;
        background: rgb(243, 241, 241);
        overflow: hidden;
    }
    
    
    .container{
        position: relative;
        max-height: 300px;
        max-width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        border: 1px solid #bfb5ac;
    }
    
    .box { 
        width: 100%;
        height: 100px;
        font-size: 1rem;
        position: relative;
        padding: 30px;
    }
    
    .description-box h3{
        margin-top: 40px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 30px;
        margin-right: 30px;
        color: #111;
    }
    
    .description-box p{
        padding-top: 10px;
        font-size: 1rem;
        margin-left: 30px;
        margin-right: 30px;
        color: #111;
    }
    
    .input-field {
        margin-right: 30px;
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .input-field input{
        margin-top: 10px;
        background:rgb(240, 240, 240);
        width: 100%;
        height: 100%;
        color: #111;
        font-size: 15px;
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
        padding: 7px 0;
        transition: 0.1s ;
    }
    
    .input-field input:focus{
        border: 2px solid brown;
    }
    
    .content-name{
        font-size: 17px;
        font-weight: bold;
    
    }
    
    .submit {
        font-size: 15px;
        margin-top: 10px;
        width: 100%;
        height: 30px;
        background: #d48139;
        border-radius: 7px;
    }
    
    .end-box p {
    
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 50px 30px;
    }
 } 


