*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: inline-flex;
    
}

nav li {
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: none;
}

nav a:focus {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}