/*Fonts and reset*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Mall section
****************************************/

/*mall header*/
.mallHeader {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;

    position: sticky;
    top: 2px;
    background-color: #5e6775;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    margin: 0 2px;
}

#mallLogo {
    width: 50px;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    cursor:pointer;
}

.mallHeader > * {
    margin: 0 5px;
}

.mallHeader h3 {
    padding: 10px;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    text-decoration: none;
    color: #e1e5eb;
}

header nav li {
    display: inline-block;
    padding: 10px 10px;
    color: #d3d6db;
}

/*mall FAQs*/
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

main.mallFAQs {
    width: 100%;
    display: flex;
    justify-content: center;
}

main.mallFAQs #listQuestions {
    max-width: 800px;
    background-color: #e5e3e8;
    border: 1px solid black;
    flex: 1 1 auto;
}

main.mallFAQs #listQuestions .question {
    padding: 5px 10px;
}

main.mallFAQs #listQuestions .answer {
    padding: 5px 30px;
}

.hidden {
    display: none;
}

/*Shop section
****************************************/
