/*Fonts and reset*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

/*Mall section
****************************************/

/*mall header*/
.mallHeader {
    display: inline-block;
    width: 100%;
    padding: 0 20px;

    position: sticky;
    top: 2px;
    background-color: #5e6775;

    font-family: 'Open Sans', sans-serif;
    margin: 0 2px;
}

#mallLogo {
    width: 50px;
    height: auto;
    float: left;
    border-radius: 15px;
    cursor:pointer;
}

.mallHeader > * {
    margin: 0 5px;
}

.mallHeader h3 {
    padding: 10px;
}

header nav {
    float: left;
}

header nav li a {
    text-decoration: none;
    display: inline-block;
    color: #e1e5eb;
    font-weight: 600px;
}

header nav li {
    display: inline-block;
    padding: 10px 10px;
}

.toggle-btn {
    width: 35px;
    position: absolute;
    right: 80px;
    top: 40px;
    display: none;
}

.toggle-btn span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
    float: left;
    margin-bottom: 8px;
}

@media screen and (max-width: 991px){
    .toggle-btn {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
        border-top: 1px solid #000;
        padding-top: 20px;
        margin-top: 30px;
    }

    nav ul li{
        padding: 15px 10px;
        width: 100%;
    }

    nav.show {
        display: block;
    }
}

/*mall FAQs*/
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

main.mallFAQs {
    width: 100%;
    display: flex;
    justify-content: center;
}

main.mallFAQs #listQuestions {
    max-width: 800px;
    background-color: #e5e3e8;
    border: 1px solid black;
    flex: 1 1 auto;
}

main.mallFAQs #listQuestions .question {
    padding: 5px 10px;
}

main.mallFAQs #listQuestions .answer {
    padding: 5px 30px;
}

/*mall register account */
.hidden {
    display: none;
}

main.mallRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

main.mallRegister .registerForm {
    border: 1px solid black;
    padding: 20px;
}

main.mallRegister .registerForm form > * {
    margin: 10px;
}

main.mallRegister .registerForm form input {
    padding: 5px;
}

main.mallRegister .registerForm form label {
    width: 80px;
    display: inline-block;
    border: 1px solid black;
}


footer {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;

    position: absolute;
    bottom: 0;
    background-color: #5e6775;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    margin: 0 2px;
    width: 100%;
}

footer nav ul li{
    display: inline-block;
}

.outerDiv {
    height: fit-content;
    width: 100%;
    min-height: 100vh;
    border: 1px solid black;
    position: absolute;
    top: 0px;
}

/*Shop section
****************************************/
