main {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 0 10px black;
    padding: 5px;
}

/*title*/
section.copyright_title {
    padding: 20px; 
    font-weight: 700;
    font-size: 23px;
}


/*copyright intro*/
.copyright_intro {
    background: #e1ebe4;
    border-radius: 10px;
    font-weight: 400;
    font-size: 0.9em;
}

.copyright_intro_text{
    padding: 10px;
}

/*copyright content*/
.copyright_content {
    padding: 5px;
    margin-top: 30px;
}

.copyright_content_title {
    font-weight: 700;
    font-size: 18px;
}

.copyright_content_text {
    padding: 10px;
}

.redColor {
    color: red;
}

/*lastword*/
.copyright_lastword {
    padding: 10px;
}


.copyright_lastword_title {
    font-weight: 700;
    font-size: 17px;
}