html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-height: 280px;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.TeamColumn {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

#AboutUs {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

h1 {
text-align: center;
}

#TeamColumn{
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;}

@media screen and (max-width: 600px) {

  img{
    max-height: 150px;
    width: 100%;
  }
  .TeamColumn {
    width: 100%;
    display: block;
  }

  footer {  
    width: 100%;
    max-height: 20vh;
    overflow: hidden;
  }

  footer nav .row{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
  }

  header {  
    width: 100%;
    max-height: 10vh;
    overflow: hidden;
  }

  main {  
    width: 100%;
    max-height: 80vh;
    overflow: scroll;
  }

  #AboutUs{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  
  }
}




/*originally went with the design similar to the FAQ page, ran into display error, resulted in using w3school's design*/
