footer {
    position: absolute;
    bottom: 0;
    width: 100%;
	max-height: 75px;
}

.column {
	float: left;
	width: 33.33%;
	padding: 15px;
	}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

footer nav .row{
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
  }

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
  footer nav .row{
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
  }
}
