.box {
    background-color: #fff;
    min-height: 100vh;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.line {
    border: 1px solid #a09ea3;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 2px 10px #c4bcd1;
}

input, input:focus, input:hover, input:active {
    outline: none;
    box-shadow:none;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 15px 22px;
    border-radius: 10px;
    border: 0.1px solid #c4bcd1;
}

.registerForm form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

label[for=mon], label[for=tue], label[for=wed], label[for=thurs], label[for=fri], label[for=sat], label[for=sun]{
    text-align: center;
}
select, input:not(input[type=radio], input[type=reset], input[type=submit], input[type=file], input[type=chechbox]) {
    display: block;
    width: 100%;   
    height: 3em;
    padding: 0 10px;
    font-size: 16px;
    margin-top: 7px;
    border-radius: 5px;
    border: 0.1px solid #c4bcd1;
    padding-top: 20px;
}

label[for=profilePic]{
    text-align: center;
    border-radius: 10px;
    width: 100%;
    display: block;
    background-color: #a48fc2;
    color: #fff;
    padding: 30px;
    transition: background-color 0.5s;
}

label[for=profilePic]:hover {
    cursor: pointer;
    background-color: #5a4675;
    box-shadow: 0 0 2px #837d8c;
}

.options {
    width: 100%;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

label[for=storeOwner], label[for=shopper] {
    width: 48%;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    background-color: #a48fc2;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 2px #837d8c;
    transition: background-color 0.5s;
}

label[for=storeOwner]:hover, label[for=shopper]:hover{
    cursor: pointer;
    background-color: #5a4675;
    box-shadow: 0 0 2px #837d8c;
}

input[type=file], input[type=radio] {
    display: none;
}

input:focus {
    box-shadow: 0 0 8px #837d8c;
    border: 0.1px solid #fff;
}

.hidden {
    display: none;
}

input[type="submit"], input[type="reset"] {
    border:none;
    background-color: #661226;
    width: 48%;
    padding: 20px 0;
    color: white;
    border-radius: 20px;
    font-size: medium;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .registerForm {
        max-width: 600px;
        margin: 20px 0;
    }
}

@media screen and (min-width: 1024px) {
    label[for=profilePic]{
        max-width: 600px;
    }
}

form{
    overflow: hidden;
}

input [type=checkbox]{
    float:right;
    clear: both;
}

#message {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }



