/* horizontal menu */
.listScrollMenu {
    overflow: auto;
    white-space: nowrap;
}

.listScrollMenu_item {
    display: inline-block;
    border: 1px solid black;
    background-color: white;
}

.listScrollMenu_item_icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
}

.listScrollMenu_item_name {
    margin: 0 auto;
    padding: 10px;
}

.listScrollMenu_item_icon img {
    max-height: 100%;
    max-width: 100%;
}

/*new list*/
#newStoreList {
    padding: 15px;
}

.listHeader {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 10px;
}

.listScrollMenu {
    padding: 5px;
    background-color: darkgray;
}

.listScrollMenu_item_store {
    width: fit-content;
}

.lislistScrollMenu_item_price {
    width: fit-content;
}

.listScrollMenu_item_price_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}





