.box {
    background-color: #fff;
    min-height: 100vh;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mallFAQs h1{
    text-align: center;
    margin: 20px 0;
}

#listQuestions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

#listQuestions article {
    max-width: 600px;
    padding: 1em;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0px 2px #000;
    transition: box-shadow 0.15s ease-in-out;
}

#listQuestions article:hover {
    box-shadow: 0 0px 7px #52485e;
}

#listQuestions article .question{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #b8a6a5;
    line-height: 1.2;
}

#listQuestions article .answer{
    line-height: 1.3;
}

#listQuestions article .question span{
    font-weight: bold;
}
