main {
    margin: 0 auto;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
}

main section {
    background-color: cyan;
    width: 100%;
}

/*introduction*/
.title {
    font-weight: 600;
}

.itemnumber {
    font-size: 0.75em;
}

.introduction div {
    padding: 5px;
}

.storeName {
    font-weight: bold;
}

/*storeCart*/
.product {
    height: 125px;
    margin-bottom: 10px;
    display: flex;
    padding: 0 10px;
}


.prodContent {
    padding-left: 10px;
    width: 100%;
    background-color: darkred;
    display: flex;
    flex-direction: column;
}

.prodDesc {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.prodName {
    padding-right: 20px;
    height: 100%;
    flex-basis: 70%;
    background-color: darkgray;
}

.prodPrice {
    text-align: end;
    height: 100%;
    flex-basis: 30%;
    max-width: 120px;
    padding: 5px;
    background-color: darkkhaki;
}

.prodQuanity {
    height: 30%;
    width: 100%;
    padding: 5px 10px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items:  center;
}

.prodQuanity input[type=number]{
    width: 30px;
    margin-left: 10px;
    text-align: center;
}

/*product display*/
.prodImg {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: 2px solid black;
}

.prodImg img {
    height: auto;
    max-width: 100%;
}

/*checkout section*/
.summary {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: darkseagreen;
}

.options {
    background-color: darkseagreen;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.orderBtn {
    padding: 5px;
}

.continueBtn {
    padding: 5px;
}

@media all and (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
    }

    main {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .introduction {
        flex-basis: 100%;
    }

    .storeCart {
        flex-basis: 75%;
    }

    .product {
        height: 150px;
        margin-bottom: 15px;
    }

    .prodImg {
        width: 150px;
        height: 150px;
    }

    .checkout {
        flex-basis: 25%;
    }
}

@media all and (min-width: 1024px){
    main {
        max-width: 1300px;
    }

    .prodQuanity {
        padding: 5px 20px;
    }
}