main {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 0 10px black;
    padding: 5px;
}

/*title*/
section.tos_title {
    padding: 20px; 
    font-weight: 700;
    font-size: 23px;
}


/*copyright intro*/
.tos_intro {
    background: #edebeb;
    border-radius: 10px;
    font-weight: 400;
    font-size: 0.9em;
}

.tos_intro_text{
    padding: 10px;
}

/*copyright content*/
.tos_content {
    padding: 5px;
    margin-top: 30px;
}

.tos_content_text {
    margin-left: 20px;
}

.tos_content_title {
    font-weight: 700;
    font-size: 18px;
}

.redColor {
    color: red;
}

/*lastword*/
.tos_lastword {
    padding: 10px;
}

.tos_lastword_title {
    font-weight: 700;
    font-size: 17px;
}